.expenses-income-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
}

.budget-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.form-container {
    width: 100%;
    height: 100vh;
    position: absolute;
	background-color: rgba( 223, 228, 234, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.add-transaction {
	background-color: white;
	border: 2px solid #dfe4ea;
    border-radius: 4px;
    height: 50px;
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}

.add-transaction:hover {
	background-color: #f1f2f6;
	border: 2px solid #dfe4ea;
}