.form {
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #57606f;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	padding: 10px;
	background-color: white;
}

.label-title {
	font-weight: bold;
	margin-right: 10px;
	min-width: 200px;
	text-align: right;
}

.form-header {
	display: flex;
	justify-content: flex-end;
}

.form-element-container {
	margin: 10px;
	display: flex;
}

.form-element-container p {
	position: relative;
}

.input-container {
	min-width: 250px;
	display: flex;
	margin-left: 40px;
}


.close-button {
	width: 25px;
	height: 25px;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	background-color: white;
	color: #57606f;
	border:  none;
	overflow: hidden;
	padding: 5px;
}

.close-button svg {
	width: 100%;
	height: 100%;
}

.close-button:hover {
	border: 1px solid black;
	color: black;
	border-radius: 50%;
	padding: 0;
}

.submit-button {
	border-radius: 4px;
	height: 40px;
    width: 80px;
	font-weight: bold;
	cursor: pointer;
	background-color: white;
	color: #57606f;
	border: 2px solid #57606f;
	margin: 20px;
	justify-self: start;
}

.submit-button:hover {
	border: 2px solid black;
	color: black;
}

.submit {
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.input-container {
		min-width: 150px;
		margin-left: 10px;
	}
	.label-title {
		margin-right: 10px;
		min-width: 150px;
	}
  }